.container {
    width: 100%;
    position: relative;
    background: transparent linear-gradient(180deg, #6600FF 0%, #00CC99 100%) 0 0 no-repeat padding-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardsBox {
    margin: 3px 0 43px 0;
}