.container {
    width: 308px;
    height: 368px;
    margin-top: 40px;
    padding: 14px;
    background: transparent linear-gradient(140deg, #FFF7FC66 0%, #FFFFFF66 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset 3px 3px 6px #EEE5E9;
    border-radius: 30px;
    opacity: 1;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    cursor: pointer;
}

.imgBox {
    width: 280px;
    height: 280px;
    background: #00CC99;
    border-radius: 20px;
}